<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyABQTdi2lK7SqENqsYy66dzMC4koShkKWc</string>
	<key>GCM_SENDER_ID</key>
	<string>744881928007</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>EDTeam.Everyday</string>
	<key>PROJECT_ID</key>
	<string>everyday-423e1</string>
	<key>STORAGE_BUCKET</key>
	<string>everyday-423e1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:744881928007:ios:3f4c61ac956fd644a07e62</string>
</dict>
</plist>